@tailwind base;
@tailwind components;
@tailwind utilities;

#nome-home{
  border-right: 2px solid;
  width: 13ch;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 1.5s steps(13),
  blinking 0.5s infinite;
}

@keyframes typing{
  from{
    width: 0;
  }

}

@keyframes blinking{
  50%{
    border-color: transparent;
  }
}

#botao-navegar{
  animation: opa 0.5s;
}

@keyframes opa {
  from{
    width: 0;
    overflow: hidden;
  }
  to{
    width: 150px;
  }
}