@tailwind base;
@tailwind components;
@tailwind utilities;

#nome-home{
  animation: aparece 3s;
}

@keyframes aparece{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

#botao-navegar{
  animation: opa 1s;
  -webkit-box-reflect: below 5px linear-gradient(transparent, #3232323e);
}

#botao-navegar:hover{
  border: 1px solid #deff16;
  background: transparent;
  color: #deff16;
  transition: all 0.5s;
}


@keyframes opa {
  from{
    width: 0;
    overflow: hidden;
  }
  to{
    width: 150px;
  }
}

#container-home{
  animation: cresce 2s ease;
}

@keyframes cresce {
  from{
    height: 0;
    width: 0;
    overflow: hidden;
    border-radius: 100%;
  }
  to{
    height: 100vh;
    width: 100vw;
    border-radius: 0;
  }
}

#links::after{
  content: " ";
  width: 0%;
  height: 2px;
  background-color: #a1b80b;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: 0.2s ease-in-out;
}

#links{
  position: relative;
}

#links:hover::after{
  width: 100%;
}

#fraseInicialPage{
  position: absolute;
  animation: slide 0.8s;
}

@keyframes slide {
  from{
    left: -200px;
  }
  to{
    left: 200px;
  }
}

#navBar{
  animation: slide2 0.8s;
  position: absolute;
}

@keyframes slide2 {
  from{
    top: -200px;
  }
  to{
    top: 0;
  }
}