@tailwind base;
@tailwind components;
@tailwind utilities;

#nome-home{
  animation: aparece 3s;
}

@keyframes aparece{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

#botao-navegar{
  animation: opa 1s;
}

@keyframes opa {
  from{
    width: 0;
    overflow: hidden;
  }
  to{
    width: 150px;
  }
}

#container-home{
  animation: cresce 2s ease;
}

@keyframes cresce {
  from{
    height: 0;
    width: 0;
    overflow: hidden;
    border-radius: 100%;
  }
  to{
    height: 100vh;
    width: 100vw;
    border-radius: 0;
  }
}